<body>
<div class="main">

  <input type="checkbox" id="chk">
  <div class="signup">
    <form (submit)="submitPerson()">
      <label for="chk">Sign Up</label>
      <input type="email" name="email" [(ngModel)]="person.email" placeholder="Email" required="true">
      <input type="password" name="person_Password" [(ngModel)]="person.person_Password" placeholder="Password"
             required="true">
      <input type="text" name="first_Name" [(ngModel)]="person.first_Name" placeholder="First Name" required="true">
      <input type="text" name="last_Name" [(ngModel)]="person.last_Name" placeholder="Last Name" required="true">
      <input type="number" name="age" [(ngModel)]="person.age" placeholder="Age" required="true">
      <input type="number" name="phone" [(ngModel)]="person.phone" placeholder="Phone" required="true">
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <div class="login">
    <form>
      <label for="chk"><h1>Login</h1></label>
      <input type="email" name="email" placeholder="Email" required="true">
      <input type="password" name="password" placeholder="Password" required="true">
      <button type="submit">Login</button>
    </form>
  </div>

</div>
</body>
